
.background {
    background: rgb(34,193,195);
    background: linear-gradient(90deg,rgb(153, 106, 106) 0%,  rgb(222, 170, 107) 100%);    
}

.title {
    width: 100%;
    text-align: center;
}

.recipe-list-container {
    width: 30vw;
    height: 95vh;
    min-height: 300px;
    overflow-y: scroll;
    position: sticky;
    top: 2vh;
    direction: rtl;
}

.recipe-list-filter {
    direction: ltr;
    padding: 5px;
    margin-left:10px;
}
.recipe-list-item {
    direction: ltr;
    font-style: italic;
    text-align: center;
    font-size: 1.5em;
    margin-top: 30px;
    list-style-type: none;
    
    /* source for this solution:
    https://stackoverflow.com/questions/10995165/what-is-the-opposite-of-hover-on-mouse-leave */
    transition: color 0.2s linear; /* vendorless fallback */
    -o-transition: color 0.2s linear; /* opera */
    -ms-transition: color 0.2s linear; /* IE 10 */
    -moz-transition: color 0.2s linear; /* Firefox */
    -webkit-transition: color 0.2s linear; /*safari and chrome */
}

.recipe-list-item:hover {
    background: rgb(139, 89, 71);
    animation: highlight 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    border-radius: 10px;
    color: rgb(240, 229, 229);
}
@keyframes highlight {
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: rgb(139, 89, 71);}
  }

.recipe-list-tags {
    font-size: 0.7em;
}

.recipe-scroll-container {
    background-color: rgb(225, 226, 226);
    position: fixed;
    top: 0;
    right: 0;
}

.recipe-scroll-photo {
    width: 200px;
    height: 200px;
}

.recipe-scroll-item {
    width: 200px;
    height: 230px;
    text-align: center;
    padding: 20px;
}
.recipe-scroll-item:hover {
    background-color: rgb(110, 212, 215);
}

.recipe-scroll {
	background-color: rgb(225, 226, 226);
	height: 90vh;
    overflow: hidden;
	max-width: 240px;
	align-items: center;
	padding: 0 20px;
}


.recipe-scroll .track {
	width: calc(270px * 10);
	animation: scroll 40s 0.5s linear infinite;
}

@keyframes  scroll {
	from {
		transform: translateY(calc(-270px * 4));
	}
	to {
		transform: translateY(calc(0));
	}
}

.recipe-full-container {
    width: 45vw;
}
.recipe-full-title {
    width: 100%;
    text-align: center;
}
.recipe-full-description {
    width: 100%;
    text-align: center;
}

.recipe-full-subtitle {
    text-align: center;
    font-size: 1.1em;
}


.recipe-full-ingridients {
    width: 70%;
}

.recipe-full-image {
    width: 50%;
}

#image {
    width: 200px;
    height: 200px;
}


.recipe-full-directions {
    font-style: italic;
    margin-top: 1em;    
    font-size: 1.2em;
}